<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>EmployeeManager</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>controller.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowLoginController</servlet-name>
		<servlet-class>controller.ShowLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowLoginController</servlet-name>
		<url-pattern>/show-login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowLoginFailController</servlet-name>
		<servlet-class>controller.ShowLoginFailController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowLoginFailController</servlet-name>
		<url-pattern>/show-login-fail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowRegisterController</servlet-name>
		<servlet-class>controller.ShowRegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowRegisterController</servlet-name>
		<url-pattern>/show-register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowEditUserController</servlet-name>
		<servlet-class>controller.ShowEditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowEditUserController</servlet-name>
		<url-pattern>/show-edit</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUserController</servlet-name>
		<servlet-class>controller.EditUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUserController</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUserController</servlet-name>
		<servlet-class>controller.DeleteUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUserController</servlet-name>
		<url-pattern>/deleteUser</url-pattern>
	</servlet-mapping>




</web-app>